{% extends 'partials/base.html.twig' %}

{% block content %}

<div style="margin:100px;"></div>

{{ page.content|raw }}</td>

<table class="more">
    <tr>
        <td width="50%">
            <p class="exercise_concepts">
                <h5>Konzepte: Physik</h5>
                <ul>
                {% for req in page.taxonomy().requires_physik %}
                    <li><a href="{{req}}" class="requiredMP">{{req}}</a></li>
                {% endfor %}
                </ul>

                <h5>Konzepte: Mathematik</h5>
                <ul>
                {% for req in page.taxonomy().requires_mathematik %}
                    <li><a href="{{req}}" class="requiredMP">{{req}}</a></li>
                {% endfor %}
                </ul>
            </p>
        </td>
        <td width="50%">
            <h5>Aufgaben</h5>
            <ul>
            {% for post in taxonomy.findTaxonomy({'requires_physik':page.title|e}).order('header.schwierigkeit')|reverse %}
                <li><a href="{{post.url}}">{{post.title|e}}</a>

				    {% if post.taxonomy().schwierigkeit|first|int==1%}
				        <i class="fa fa-star-solid star"></i>
				    {% elseif post.taxonomy().schwierigkeit|first|int==2%}
				        <i class="fa fa-star-solid star"></i><i class="fa fa-star-solid star"></i>
				    {% elseif post.taxonomy().schwierigkeit|first|int==3%}
				        <i class="fa fa-star-solid star"></i><i class="fa fa-star-solid star"></i><i class="fa fa-star-solid star"></i>
				    {% else %}
				    {% endif %}
				    
                <br/>
                &rarr; {{post.taxonomy().requires_physik|join(', ')}}
				<br/>
                &rarr; {{post.taxonomy().art|join(', ')}}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
</table>

<i class="fa fa-circle-info-solid info"><span class="tooltiptext tooltip-right">Autor: {{page.taxonomy().autor|join(' ')}}</br>Quelle: {{page.taxonomy().source|join(' ')}}</br>Version: {{page.taxonomy().version|first|string}}</br>Lizenz: {{page.taxonomy().licence|join(' ')}}</br></span></i>
{% endblock %}